# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.venv/
*.egg-info/

# Node
node_modules/
dist/
*.local
.vite/

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Env files
.env
.env.local
